.gallery-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.gallery-thq-section-title-elm {
  color: var(--color-primary);
  font-size: 64px;
}
