.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-container-elm {
  height: 120px;
}
 
.navigation-text10 {
  font-size: 16px;
}
 
.navigation-text11 {
  font-size: 16px;
}
 
.navigation-text12 {
  font-size: 16px;
}
 
.navigation-thq-section-title-elm1 {
  color: var(--color-primary);
  font-size: 64px;
}
 
.navigation-text13 {
  font-size: 16px;
}
 
.navigation-text14 {
  font-size: 16px;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
